.calculator-body {
    background-color: rgb(95, 128, 235);
    width: 450px;
    height: 600px;
    border-radius: 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.display {
    background-color: lightgray;
    width: 90%;
    height: 70px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 15px;
}

.clear {
    margin: 20px auto;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
}